*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
*/application/.env
# public/*
public/inventarios/*
public/tablero/*
public/brigadistas/*
public/farmacia/ingresos/*
articulo_20200603111708.jpg
articulo_20200603111737.jpg
salida_20200613070016.pdf
articulo_20200603111708.jpg
articulo_20200603111737.jpg
salida_20200613070016.pdf
